@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    color: white;
    border: none;
}

body {
    background-color: #262632;
    display: flex;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    height: calc(100vh - 40px);
}

body>h1 {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 40px;
    font-style: normal;
}

body>h1>.rm-logisticas {
    color: #67ffd4;
}